version: "{build}"

environment:
 matrix:
  - VisualStudioVersion: 14
  - VisualStudioVersion: 12
  - VisualStudioVersion: 11
  - VisualStudioVersion: 10

platform:
 - Win32
 - Win64

configuration:
 - Debug
 - Release

matrix:
 allow_failures:
  - VisualStudioVersion: 12
  - VisualStudioVersion: 11
  - VisualStudioVersion: 10

before_build:
 - cd c:\projects\ci-test\build
 - if "%VisualStudioVersion%" == "14" set VisualStudioYear="2015"
 - if "%VisualStudioVersion%" == "12" set VisualStudioYear="2013"
 - if "%VisualStudioVersion%" == "11" set VisualStudioYear="2012"
 - if "%VisualStudioVersion%" == "10" set VisualStudioYear="2010"
 - if "%PLATFORM%" == "Win32" set VisualStudioArch=
 - if "%PLATFORM%" == "Win64" set VisualStudioArch=" Win64"
 - echo "CMAKE-G : Visual Studio %VisualStudioVersion% %VisualStudioYear%%VisualStudioArch%"
 - cmake -DCMAKE_BUILD_TYPE=%configuration% -G "Visual Studio %VisualStudioVersion% %VisualStudioYear%%VisualStudioArch%" ..
 - type ci-test.sln

build:
 project: c:\projects\ci-test\build\ci-test.sln


deploy:
 provider: GitHub
 auth_token:
  secure: PfvQTUZqXQ/FUyVSUmbfjuatnoab1/3YLtZ+4lhYC1vMItMb4gYMwU5QenOJJi+D
 tag: $(appveyor_repo_tag_name)
 release: '$(appveyor_project_name) v$(appveyor_repo_tag_name)'
 description: 'Automated build'
 draft: false
 prerelease: true
 on:
  branch: master
  appveyor_repo_tag: true
  configuration: Release
  VisualStudioVersion: 14

before_deploy:
 - del c:\projects\ci-test\build\%CONFIGURATION%\CompilerIdCXX.exe
 - 7z a %APPVEYOR_PROJECT_NAME%-%APPVEYOR_REPO_TAG_NAME%-%PLATFORM%.zip c:\projects\ci-test\build\%CONFIGURATION%\*.exe
 - appveyor PushArtifact %APPVEYOR_PROJECT_NAME%-%APPVEYOR_REPO_TAG_NAME%-%PLATFORM%.zip
