version: "{build}"

environment:
 matrix:
  - VisualStudioVersion: 14
  - VisualStudioVersion: 12
  - VisualStudioVersion: 11
  - VisualStudioVersion: 10

platform:
 - Win32
 - x64

configuration:
 - Debug
 - Release

clone_depth: 50

matrix:
 allow_failures:
  - VisualStudioVersion: 12
  - VisualStudioVersion: 11
  - VisualStudioVersion: 10

install:
 - set
 - cmake --version
 - cmake -DCMAKELISTS=%APPVEYOR_BUILD_FOLDER%\CMakeLists.txt -DCMDIR=c:\cmake -P cmake\CI\GetCMake.cmake
 - set PATH=C:\cmake\bin;%PATH%
 - cmake --version

before_build:
 - cd %APPVEYOR_BUILD_FOLDER%
 - git submodule update --init --recursive
 - cd build
 - if "%VisualStudioVersion%" == "14" set VSYear=2015
 - if "%VisualStudioVersion%" == "12" set VSYear=2013
 - if "%VisualStudioVersion%" == "11" set VSYear=2012
 - if "%VisualStudioVersion%" == "10" set VSYear=2010
 - if "%PLATFORM%" == "Win32" set VSArch=
 - if "%PLATFORM%" == "x64"   set VSArch= Win64
 - cmake -DCMAKE_BUILD_TYPE=%configuration% -G "Visual Studio %VisualStudioVersion% %VSYear%%VSArch%" ..

build:
 project: build\ci-test.sln
 parallel: true

before_deploy:
 - if "%PLATFORM%" == "Win32" set ZipArch=Win32
 - if "%PLATFORM%" == "x64"   set ZipArch=Win64
 - del %APPVEYOR_BUILD_FOLDER%\build\%CONFIGURATION%\CompilerIdCXX.exe
 - 7z a %APPVEYOR_PROJECT_NAME%-%APPVEYOR_REPO_TAG_NAME%-%ZipArch%.zip %APPVEYOR_BUILD_FOLDER%\build\%CONFIGURATION%\*.exe
 - appveyor PushArtifact %APPVEYOR_PROJECT_NAME%-%APPVEYOR_REPO_TAG_NAME%-%ZipArch%.zip

deploy:
 - provider: GitHub
   auth_token:
    secure: 7kFFbQTFg2HbkTl0I7dwI/LZe5yiIJPm/99gWJKSepfzD2q7BLr2jUavaKeBgiiw
   tag: $(appveyor_repo_tag_name)
   release: '$(appveyor_project_name) v$(appveyor_repo_tag_name)'
   description: 'Automated build'
   draft: false
   prerelease: true
   on:
    branch: master
    appveyor_repo_tag: true
    configuration: Release
    VisualStudioVersion: 14
 - provider: ftp
   protocol: sftp
   host:
    secure: K4EVPmbtVRC3ewwAfdcyyw==
   username:
    secure: SqXQ8BhujeefLYZ5Kziu+g==
   password:
    secure: C37iHG8LcwR2taFh6LaLwQ==
   folder:
    secure: bDLdByAHYC3nDAXMpLa46clNfKvIeCLOBJTqP/QWzBy1dodZ5Z+IdQCSgyvFLCUozUVb9E2j5S7bbQU4NRcJXhk9GnnWxcUVvGYBwsgJkow=
