version: "{build}"

environment:
 matrix:
  - platform: Win32
    VisualStudioVersion: 14
  - platform: Win32
    VisualStudioVersion: 12
  - platform: Win32
    VisualStudioVersion: 11
  - platform: Win32
    VisualStudioVersion: 10

configuration:
 - Debug
 - Release

matrix:
 allow_failures:
  - VisualStudioVersion: 12
  - VisualStudioVersion: 11
  - VisualStudioVersion: 10

before_build:
 - cd c:\projects\ci-test\
 - cd build
 - if "%VisualStudioVersion%" == "14" set VisualStudioYear="2015"
 - if "%VisualStudioVersion%" == "12" set VisualStudioYear="2013"
 - if "%VisualStudioVersion%" == "11" set VisualStudioYear="2012"
 - if "%VisualStudioVersion%" == "10" set VisualStudioYear="2010"
 - cmake -DCMAKE_BUILD_TYPE=%configuration% -G "Visual Studio %VisualStudioVersion% %VisualStudioYear%" ..

build:
 project: c:\projects\ci-test\build\ci-test.sln

deploy:
 provider: GitHub
 auth_token:
  secure: PfvQTUZqXQ/FUyVSUmbfjuatnoab1/3YLtZ+4lhYC1vMItMb4gYMwU5QenOJJi+D
 description: 'Description text'
 draft: false
 preprelease: false
 on:
  branch: master
  appveyor_repo_tag: true

