version: "{build}"

environment:
 matrix:
  - VisualStudioVersion: 14
  - VisualStudioVersion: 12
  - VisualStudioVersion: 11
  - VisualStudioVersion: 10

platform:
 - x86
 - x64

configuration:
 - Debug
 - Release

clone_depth: 50
clone_folder: C:\ci-test
clone_script:
 - git clone --quiet --branch=%APPVEYOR_REPO_BRANCH% --recurse-submodules https://github.com/%APPVEYOR_REPO_NAME%.git %APPVEYOR_BUILD_FOLDER%
 - git checkout --quiet --force %APPVEYOR_REPO_COMMIT%

matrix:
 allow_failures:
  - VisualStudioVersion: 12
  - VisualStudioVersion: 11
  - VisualStudioVersion: 10

install:
 - cmake -DCMAKELISTS=%APPVEYOR_BUILD_FOLDER%\CMakeLists.txt -DCMAKEDIR=c:\cmake -P cmake\CI\UpdateCMake.cmake && set PATH=C:\cmake\bin;%PATH%

before_build:
 - cd %APPVEYOR_BUILD_FOLDER%\build
 - if "%VisualStudioVersion%" == "14" set VSYear=2015
 - if "%VisualStudioVersion%" == "12" set VSYear=2013
 - if "%VisualStudioVersion%" == "11" set VSYear=2012
 - if "%VisualStudioVersion%" == "10" set VSYear=2010
 - if "%PLATFORM%" == "x86" set VSArch=
 - if "%PLATFORM%" == "x64"   set VSArch= Win64
 - cmake -DCMAKE_BUILD_TYPE=%configuration% -G "Visual Studio %VisualStudioVersion% %VSYear%%VSArch%" ..

build_script:
 - cmake --build .

before_deploy:
 - set ZipTag=%APPVEYOR_REPO_TAG_NAME%
 - if "%APPVEYOR_REPO_TAG_NAME%" == "" set ZipTag=%APPVEYOR_REPO_BRANCH%-%CONFIGURATION%
 - if "%PLATFORM%" == "Win32" set ZipArch=Win32
 - if "%PLATFORM%" == "x64"   set ZipArch=Win64
 - del %APPVEYOR_BUILD_FOLDER%\build\%CONFIGURATION%\CompilerIdCXX.exe
 - 7z a %APPVEYOR_PROJECT_NAME%-%ZipTag%-%ZipArch%.zip %APPVEYOR_BUILD_FOLDER%\build\%CONFIGURATION%\*.exe
 - if "%CONFIGURATION%" == "Debug" 7z u %APPVEYOR_PROJECT_NAME%-%ZipTag%-%ZipArch%.zip %APPVEYOR_BUILD_FOLDER%\build\%CONFIGURATION%\*.pdb
 - appveyor PushArtifact %APPVEYOR_PROJECT_NAME%-%ZipTag%-%ZipArch%.zip

deploy:
 - provider: GitHub
   auth_token:
    secure: 7kFFbQTFg2HbkTl0I7dwI/LZe5yiIJPm/99gWJKSepfzD2q7BLr2jUavaKeBgiiw
   tag: $(appveyor_repo_tag_name)
   release: '$(appveyor_project_name) v$(appveyor_repo_tag_name)'
   description: 'Automated build'
   draft: false
   prerelease: true
   on:
    branch: master
    appveyor_repo_tag: true
    configuration: Release
    VisualStudioVersion: 14
 - provider: FTP
   protocol: sftp
   host:
    secure: K4EVPmbtVRC3ewwAfdcyyw==
   username:
    secure: SqXQ8BhujeefLYZ5Kziu+g==
   password:
    secure: C37iHG8LcwR2taFh6LaLwQ==
   folder:
    secure: mCdlELk2HrY87dCRw6QIig==
   on:
    VisualStudioVersion: 14
