version: "{build}"

image:
 - Visual Studio 2013
 - Visual Studio 2015
 - Visual Studio 2017
 - Ubuntu
 - Ubuntu1604
 - Ubuntu1804

platform:
 - x32
 - x64

configuration:
 - Debug
 - Release

cache:
 - C:\ci-test\cache -> CMakeLists.txt CMakeBuild.cmake

clone_folder: C:\ci-test

install:
 - git submodule update --init --recursive
 - sh: PATH=cache/cmake/bin:$PATH
 - cmd: set PATH=cache\cmake\bin;%PATH%
 - cmake -DO=CMakeBuild.cmake -DOWNLOAD_DIR=cache -P cmake/SelfUpdate/SelfUpdate.cmake
 - sh: hash -r

build_script:
 - cmake -P CMakeBuild.cmake

before_deploy:
 - set ZipTag=%APPVEYOR_REPO_TAG_NAME%
 - if "%APPVEYOR_REPO_TAG_NAME%" == "" set ZipTag=%APPVEYOR_REPO_BRANCH%-%CONFIGURATION%
 - if "%PLATFORM%" == "Win32" set ZipArch=Win32
 - if "%PLATFORM%" == "x64"   set ZipArch=Win64
 - del %APPVEYOR_BUILD_FOLDER%\build\%CONFIGURATION%\CompilerIdCXX.exe
 - 7z a %APPVEYOR_PROJECT_NAME%-%ZipTag%-%ZipArch%.zip %APPVEYOR_BUILD_FOLDER%\build\%CONFIGURATION%\*.exe
 - if "%CONFIGURATION%" == "Debug" 7z u %APPVEYOR_PROJECT_NAME%-%ZipTag%-%ZipArch%.zip %APPVEYOR_BUILD_FOLDER%\build\%CONFIGURATION%\*.pdb
 - appveyor PushArtifact %APPVEYOR_PROJECT_NAME%-%ZipTag%-%ZipArch%.zip

deploy:
 - provider: GitHub
   auth_token:
    secure: 7kFFbQTFg2HbkTl0I7dwI/LZe5yiIJPm/99gWJKSepfzD2q7BLr2jUavaKeBgiiw
   tag: $(appveyor_repo_tag_name)
   release: '$(appveyor_project_name) v$(appveyor_repo_tag_name)'
   description: 'Automated build'
   draft: false
   prerelease: true
   on:
    branch: master
    appveyor_repo_tag: true
    configuration: Release
    VisualStudioVersion: 14
 - provider: FTP
   protocol: sftp
   host:
    secure: K4EVPmbtVRC3ewwAfdcyyw==
   username:
    secure: SqXQ8BhujeefLYZ5Kziu+g==
   password:
    secure: C37iHG8LcwR2taFh6LaLwQ==
   folder:
    secure: mCdlELk2HrY87dCRw6QIig==
   on:
    VisualStudioVersion: 1
