language: cpp

addons:
 apt:
  sources:
   - ubuntu-toolchain-r-test

matrix:
 include:
  - os: linux
    compiler: g++
    env: COMPILER=g++-6 BUILD=Debug ARCH=32
    addons:
     apt:
      packages:
       - linux-libc-dev:i386
       - gcc-6-multilib
       - g++-6-multilib
  - os: linux
    compiler: g++
    env: COMPILER=g++-6 BUILD=Debug ARCH=64
    addons:
     apt:
      packages:
       - g++-6
  - os: linux
    compiler: g++
    env: COMPILER=g++-6 BUILD=Release ARCH=32
    addons:
     apt:
      packages:
       - linux-libc-dev:i386
       - gcc-6-multilib
       - g++-6-multilib
       - p7zip-full
  - os: linux
    compiler: g++
    env: COMPILER=g++-6 BUILD=Release ARCH=64
    addons:
     apt:
      packages:
       - g++-6
       - p7zip-full
  - os: linux
    compiler: g++
    env: COMPILER=g++-5 BUILD=Debug ARCH=32
    addons:
     apt:
      packages:
       - linux-libc-dev:i386
       - gcc-5-multilib
       - g++-5-multilib
  - os: linux
    compiler: g++
    env: COMPILER=g++-5 BUILD=Debug ARCH=64
    addons:
     apt:
      packages:
       - g++-5
  - os: linux
    compiler: g++
    env: COMPILER=g++-5 BUILD=Release ARCH=32
    addons:
     apt:
      packages:
       - linux-libc-dev:i386
       - gcc-5-multilib
       - g++-5-multilib
  - os: linux
    compiler: g++
    env: COMPILER=g++-5 BUILD=Release ARCH=64
    addons:
     apt:
      packages:
       - g++-5
  - os: linux
    compiler: g++
    env: COMPILER=g++-4.9 BUILD=Debug ARCH=32
    addons:
     apt:
      packages:
       - linux-libc-dev:i386
       - gcc-4.9-multilib
       - g++-4.9-multilib
  - os: linux
    compiler: g++
    env: COMPILER=g++-4.9 BUILD=Debug ARCH=64
    addons:
     apt:
      packages:
       - g++-4.9
  - os: linux
    compiler: g++
    env: COMPILER=g++-4.9 BUILD=Release ARCH=32
    addons:
     apt:
      packages:
       - linux-libc-dev:i386
       - gcc-4.9-multilib
       - g++-4.9-multilib
  - os: linux
    compiler: g++
    env: COMPILER=g++-4.9 BUILD=Release ARCH=64
    addons:
     apt:
      packages:
       - g++-4.9
  - os: linux
    compiler: g++
    env: COMPILER=g++-4.8 BUILD=Debug ARCH=32
    addons:
     apt:
      packages:
       - linux-libc-dev:i386
       - gcc-4.8-multilib
       - g++-4.8-multilib
  - os: linux
    compiler: g++
    env: COMPILER=g++-4.8 BUILD=Debug ARCH=64
    addons:
     apt:
      packages:
       - g++-4.8
  - os: linux
    compiler: g++-4.8
    env: BUILD=Release ARCH=32
    addons:
     apt:
      packages:
       - linux-libc-dev:i386
       - gcc-4.8-multilib
       - g++-4.8-multilib
  - os: linux
    compiler: g++-4.8
    env: BUILD=Release ARCH=64
    addons:
     apt:
      packages:
       - g++-4.8
 ##
 allow_failures:
  - env: COMPILER=g++-4.9 BUILD=Debug ARCH=32
  - env: COMPILER=g++-4.9 BUILD=Debug ARCH=64
  - env: COMPILER=g++-4.9 BUILD=Release ARCH=32
  - env: COMPILER=g++-4.9 BUILD=Release ARCH=64
  - env: COMPILER=g++-4.8 BUILD=Debug ARCH=32
  - env: COMPILER=g++-4.8 BUILD=Debug ARCH=64
  - compiler: g++-4.8

before_script:
 - if [[ "${TRAVIS_OS_NAME}" == "linux" && -f "${TRAVIS_BUILD_DIR}/CMakeLists.txt" ]]; then
    cmake_ver=`cat ${TRAVIS_BUILD_DIR}/CMakeLists.txt | grep cmake_minimum_required | grep -oP '(?<=VERSION )\d+\.\d+\.\d+'`;
    cmake_arch= ;
    if [[ "${ARCH}" == "32" ]]; then
     cmake_arch=i386 ;
    elif [[ "${ARCH}" == "64" ]]; then
     cmake_arch=x86_64 ;
    fi ;
    wget --no-check-certificate http://cmake.org/files/v${cmake_ver%.*}/cmake-${cmake_ver}-Linux-${cmake_arch}.sh -O /tmp/cmake.sh ;
    sh /tmp/cmake.sh --prefix=$HOME --exclude-subdir ;
    export PATH=$HOME/bin:$PATH ;
   fi

script:
 - set
 - cd $TRAVIS_BUILD_DIR/build
 - if [[ "${COMPILER}" ==  "" ]; then
    cmake -DCMAKE_BUILD_TYPE=${BUILD} -DCMAKE_CXX_FLAGS=-m${ARCH} .. && make ;
   else
    cmake -DCMAKE_BUILD_TYPE=${BUILD} -DCMAKE_CXX_COMPILER=${COMPILER} -DCMAKE_CXX_FLAGS=-m${ARCH} .. && make ;
   fi


deploy:
 provider: releases
 api_key:
  secure: "BXB3KTknuom4G+uLBxEDi+14uMD5cDbuPZzGUqBvQc6Pf/RiVGMj/AN3AFxJuDc9U7QZMRSA2KqkMCjWzCESK3Rb8sgSJLXoa2YvGDfJCRQ7rQJf7xXxa/PSOtpe0pdH7vUvCKnMdS0Muq9nEcxnm/fa0W63s/xdY7NmVN/a3VgRyPt/PVMjnPN3/p3DLArSpHZ3dyZxC1O35AD2xAzUz1bJZWpQlj8ElwbE923I7spWC9/jvr0yZKQqJpyBuyzOnVyHoQyw5oUn0/x7yLTwgcTPY/T35to3xw8JXixyl1qB1WScDh5mYn6XWULWr5bTLhepD3AUJCuD32ki4wJo1nZZe+rN17Ojw338O1eKZRowAMP1uo7RZTOPLglDlohKm3JWXyzFB+8pxmnhWpfQPuzty+sx3RdIDRZznvDZC2lSVvMpKi6T7ZKRTaxfUV/QyHg7c1Bwgua5+1R14wwb7gddZrUZdMjwtp4/MmP+9r2UF3BJApVzXiGef4GPK3vsYNc+FzJitObvsVr1KGqeLGlmQ0rS3zHl3i2PDOoMm/gcOpnOSOFGisBZkLqjUPhcKB1JUE2rn7zmYXx8l3Pi3O7p4VrZfmQPFWRRpznxHzuZJ9MHomFVP9lAJAOTdgZdzgtqlsG7CDTJkRrQW6Pl2sr/NQwl/ZiZOONh1oLm0hk="
 file: /tmp/${TRAVIS_REPO_SLUG##*/}-${TRAVIS_TAG}-Linux${ARCH}.zip
 name: ${TRAVIS_REPO_SLUG##*/} v${TRAVIS_TAG}
 body: Automated build
 draft: false
 prerelease: true
 skip_cleanup: true
 on:
  branch: master
  tags: true
  condition: $BUILD == Release && $COMPILER == g++-6

before_deploy:
 - cd $TRAVIS_BUILD_DIR/build
 - 7z a /tmp/${TRAVIS_REPO_SLUG##*/}-${TRAVIS_TAG}-Linux${ARCH}.zip class_initializer for_auto for_lambda vector_initializer
