language: cpp

matrix:
 fast_finish: true
 include:
  ## linux g++ 5.x
  - os: linux
    compiler: g++
    env: BUILD=Debug COMPILER=g++-5
    addons:
     apt:
      sources:
       - ubuntu-toolchain-r-test
      packages:
       - g++-5
  - os: linux
    compiler: g++
    env: BUILD=Release COMPILER=g++-5
    addons:
     apt:
      sources:
       - ubuntu-toolchain-r-test
      packages:
       - g++-5
  ## linux g++ 4.9
  - os: linux
    compiler: g++
    env: BUILD=Debug COMPILER=g++-4.9
    addons:
     apt:
      sources:
       - ubuntu-toolchain-r-test
      packages:
       - g++-4.9
  - os: linux
    compiler: g++
    env: BUILD=Release COMPILER=g++-4.9
    addons:
     apt:
      sources:
       - ubuntu-toolchain-r-test
      packages:
       - g++-4.9
  ## linux g++ 4.8
  - os: linux
    compiler: g++
    env: BUILD=Debug COMPILER=g++-4.8
    addons:
     apt:
      sources:
       - ubuntu-toolchain-r-test
      packages:
       - g++-4.8
  - os: linux
    compiler: g++
    env: BUILD=Release COMPILER=g++-4.8
    addons:
     apt:
      sources:
       - ubuntu-toolchain-r-test
      packages:
       - g++-4.8
 ##
 allow_failures:
  - env: BUILD=Debug COMPILER=g++-4.9
  - env: BUILD=Release COMPILER=g++-4.9
  - env: BUILD=Debug COMPILER=g++-4.8
  - env: BUILD=Release COMPILER=g++-4.8

before_script:
 - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then
    wget --no-check-certificate http://cmake.org/files/v3.1/cmake-3.1.2-Linux-x86_64.sh -O /tmp/cmake.sh ;
    sh /tmp/cmake.sh --prefix=$HOME --exclude-subdir ;
    export PATH=$HOME/bin:$PATH ;
   fi

script:
 - cd build
 - cmake -DCMAKE_BUILD_TYPE=$BUILD -DCMAKE_CXX_COMPILER=$COMPILER ..
 - make
