language: cpp

os:
 - linux

compiler:
 - g++

addons:
 apt:
  packages:
   - gcc-5
   - g++-5

env:
 - BUILD=Debug
 - BUILD=Release

before_script:
 - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then
    wget --no-check-certificate http://www.cmake.org/files/v3.2/cmake-3.2.2-Linux-x86_64.sh -O /tmp/cmake.sh ;
    sh /tmp/cmake.sh --prefix=$HOME --exclude-subdir ;
    export PATH=$HOME/bin:$PATH ;
   fi
 - if [[ "$CC" == "gcc" ]];  then export CC="gcc-5" ; fi
 - if [[ "$CXX" == "g++" ]]; then export CXX="g++-5" ; fi

script:
 - cmake --version
 - g++ --version
 - cd build
 - cmake -DCMAKE_BUILD_TYPE=$BUILD ..
 - make
