language: cpp

os:
 - linux

compiler:
 - g++

env:
 - BUILD=Debug
 - BUILD=Release

before_script:
 - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then
    wget --no-check-certificate http://www.cmake.org/files/v3.2/cmake-3.2.2-Linux-x86_64.sh -O /tmp/cmake.sh ;
    sh /tmp/cmake.sh --prefix=$HOME --exclude-subdir ;
    export PATH=$HOME/bin:$PATH ;
   fi

script:
 - cmake --version
 - cd build
 - cmake -DCMAKE_BUILD_TYPE=$BUILD ..
 - make
