language: cpp

matrix:
 include:
  ## linux g++ 5.x
  - os: linux
    compiler: g++
    env: BUILD=Debug COMPILER=g++-5
    addons:
     apt:
      sources:
       - ubuntu-toolchain-r-test
      packages:
       - g++-5
  - os: linux
    compiler: g++
    env: BUILD=Release COMPILER=g++-5
    addons:
     apt:
      sources:
       - ubuntu-toolchain-r-test
      packages:
       - g++-5
       - p7zip-full
  ## linux g++ 4.9
  - os: linux
    compiler: g++
    env: BUILD=Debug COMPILER=g++-4.9
    addons:
     apt:
      sources:
       - ubuntu-toolchain-r-test
      packages:
       - g++-4.9
  - os: linux
    compiler: g++
    env: BUILD=Release COMPILER=g++-4.9
    addons:
     apt:
      sources:
       - ubuntu-toolchain-r-test
      packages:
       - g++-4.9
  ## linux g++ 4.8
  - os: linux
    compiler: g++
    env: BUILD=Debug COMPILER=g++-4.8
    addons:
     apt:
      sources:
       - ubuntu-toolchain-r-test
      packages:
       - g++-4.8
  - os: linux
    compiler: g++
    env: BUILD=Release COMPILER=g++-4.8
    addons:
     apt:
      sources:
       - ubuntu-toolchain-r-test
      packages:
       - g++-4.8
 ##
 allow_failures:
  - env: BUILD=Debug COMPILER=g++-4.9
  - env: BUILD=Release COMPILER=g++-4.9
  - env: BUILD=Debug COMPILER=g++-4.8
  - env: BUILD=Release COMPILER=g++-4.8

before_script:
 - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then
    wget --no-check-certificate http://cmake.org/files/v3.4/cmake-3.4.2-Linux-x86_64.sh -O /tmp/cmake.sh ;
    sh /tmp/cmake.sh --prefix=$HOME --exclude-subdir ;
    export PATH=$HOME/bin:$PATH ;
   fi

script:
 - cd $TRAVIS_BUILD_DIR/build
 - cmake -DCMAKE_BUILD_TYPE=$BUILD -DCMAKE_CXX_COMPILER=$COMPILER ..
 - make


deploy:
 provider: releases
 api_key:
  secure: "BXB3KTknuom4G+uLBxEDi+14uMD5cDbuPZzGUqBvQc6Pf/RiVGMj/AN3AFxJuDc9U7QZMRSA2KqkMCjWzCESK3Rb8sgSJLXoa2YvGDfJCRQ7rQJf7xXxa/PSOtpe0pdH7vUvCKnMdS0Muq9nEcxnm/fa0W63s/xdY7NmVN/a3VgRyPt/PVMjnPN3/p3DLArSpHZ3dyZxC1O35AD2xAzUz1bJZWpQlj8ElwbE923I7spWC9/jvr0yZKQqJpyBuyzOnVyHoQyw5oUn0/x7yLTwgcTPY/T35to3xw8JXixyl1qB1WScDh5mYn6XWULWr5bTLhepD3AUJCuD32ki4wJo1nZZe+rN17Ojw338O1eKZRowAMP1uo7RZTOPLglDlohKm3JWXyzFB+8pxmnhWpfQPuzty+sx3RdIDRZznvDZC2lSVvMpKi6T7ZKRTaxfUV/QyHg7c1Bwgua5+1R14wwb7gddZrUZdMjwtp4/MmP+9r2UF3BJApVzXiGef4GPK3vsYNc+FzJitObvsVr1KGqeLGlmQ0rS3zHl3i2PDOoMm/gcOpnOSOFGisBZkLqjUPhcKB1JUE2rn7zmYXx8l3Pi3O7p4VrZfmQPFWRRpznxHzuZJ9MHomFVP9lAJAOTdgZdzgtqlsG7CDTJkRrQW6Pl2sr/NQwl/ZiZOONh1oLm0hk="
 file: $HOME/ci-test-$TRAVIS_TAG-Linux64.tar.gz
 on:
  branch: master
  tags: true
  condition: $BUILD == Release && $COMPILER == g++-5

before_deploy:
 - cd $TRAVIS_BUILD_DIR/build
 - 7z a $HOME/ci-test-$TRAVIS_TAG-Linux64.tar.gz class_initializer for_auto for_lambda vector_initializer
